--extra-index-url=http://pypi.fum.futurice.com/simple/
Django==1.6.2
South==0.8.1
argparse==1.2.1
requests==2.2.1
python-memcached==1.53
django-extensions==1.2.5
assetgen==0.3.6
watchdog==0.6.0
Fabric==1.8.3

slumber==0.6.5.futu
django_js_utils_ng==0.5.futu
