<script type="text/javascript">
	function rnCheck()
	{
		skippable = true;
		$('#nameform').fadeIn(700);
		$('#face').fadeIn(700);
	}	
</script>

<style>
	#nameform, #face {
 	display: none;
	}
</style>

<table cellspacing="35px" align="center">
	<tr>
		<td align="right">
			<form id="nameform" method="post">{% csrf_token %}
			<font class="names">
			{{ form.name }}
			</font>
			</form>
			</td>
		<td align="left">
			<img alt="current face" id="face" src="{% url fumapi:user_photo player.currentCorrectUser %}">
		</td>
	</tr>
</table>
