{% extends "base.html" %}

{% block header %}
	<script type="text/javascript">
		var rnCorrect = "{{ player.currentCorrectUser }}";
		var correctAnswers = {{ player.stats.correctAnswers }};
		var wrongAnswers = {{ player.stats.wrongAnswers }};
		var currentStreak = {{ player.stats.currentStreak }};
		var highestStreak = {{ player.stats.highestStreak }};
		var skips = {{ player.stats.skips }};
	</script>
	
	<script src="/facegame/static/fgscript.js"></script>
{% endblock %}
	
{% block body %}

<audio id="soundHandle1" style="display: none;"></audio>
<audio id="soundHandle2" style="display: none;"></audio>
<table cellspacing="8px" align="center">
	<tr>
		<td>
			<img alt="futurice logo" title="Futurice Facegame, mainly designed for new employees to get familiar with the names and faces around Futurice. Don't worry about guessing wrong, there's no losing in this game. See how many you can recognize!" src="/facegame/static/images/logo.png" class="logoimg">
		</td>
		<td valign="bottom">
			<p class="logotxt">
				Futurice Facegame
			</p>
			<div id="scoretxt" class="scoretxt">
				<img alt="correct" title="sum of correct answers" src="/facegame/static/images/correct.gif" class="correctimg">
					<span id="correctnum">{{ player.stats.correctAnswers }}</span>
				<img alt="wrong" title="sum of wrong answers" src="/facegame/static/images/wrong.gif" class="wrongimg">
					<span id="wrongnum">{{ player.stats.wrongAnswers }}</span>
				<img alt="row" title="number of correct answers in a row (and highest record)" src="/facegame/static/images/row.png" class="rowimg">
					<span id="rownum">{{ player.stats.currentStreak }}, {{ player.stats.highestStreak }}</span>
				<!--<img alt="skip" title="skip and number of skips done (use if no photo)" src="/facegame/static/images/skip.png" class="skipimg">
					<span id="skipnum">{{ player.stats.skips }}</span>-->
				<img alt="mute" title="mute/unmute sound effects" src="/facegame/static/images/muteon.png" class="muteimg">
				<img alt="reset" title="this will reset your stats" src="/facegame/static/images/reset.png" class="resetimg" onClick="return deteleconfirm();">
				<img alt="switch" title="<center>Switch gamemode:</center><br><a href='../' class='mode' id='face'>Face</a> | <a href='#' class='mode' id='name'>Name</a>" src="/facegame/static/images/switch.png" class="switchimg">
			</div>
		</td>
	</tr>
</table>
<div id="thumbnails" style="float:left;padding:1em;">
<p class="names">{{ correct_name_translated }}</p><br>
{% for item in thumbnail_choices %}
<img class="thumbimg" value="{% cycle image_hashes.0 image_hashes.1 image_hashes.2 image_hashes.3 image_hashes.4 %}" src="/image/current/thumb/?choice={% cycle thumbnail_choices.0 thumbnail_choices.1 thumbnail_choices.2 thumbnail_choices.3 thumbnail_choices.4 %}">
{% endfor %}
</div>
{% endblock %}
