<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="https://github.com/malsup/form/raw/master/jquery.form.js"></script>
	
	<script type="text/javascript">
	var rnCorrect = "{{ rncorrect }}";
	var prevrnCorrect = "{{ prevrncorrect }}";
	var time = "{{ time }}";

	function initialize() {
		$('#face' + rnCorrect).load(function(event){
			$('#output').fadeIn('slow');
		});

		$(':radio').click(function(event){
			if ($(this).val() == rnCorrect)
			{
				if (time == 0)
				{
					//happens 1. time
					$('#output').animate({ opacity: 0.4, marginRight: '700px' }, 1000);
					$(this).attr("checked", "checked");
					$('#face' + rnCorrect).animate({ height: $('#face' + rnCorrect).height() * 0.6 + 'px', width: $('#face' + rnCorrect).width() * 0.6 + 'px' }, 1000);
					$('li').animate({ "font-size": "-=10px", "line-height": "-=26px" }, 1000);
					/*$('#table1').animate({ "cellspacing": "-=20px" }, 1000);*/
					$('#nameform' + rnCorrect).submit();
				}
				else
				{
					if (time%2)
					{
						//happens 2. 4. 6... time
						$('#output').fadeOut('fast');
						$('#output').animate({ marginLeft: '700px' }, 1000);
						$('#output2').animate({ opacity: 0.4, marginRight: '700px' }, 1000);
						$(this).attr("checked", "checked");
						$('#face').animate({ height: $('#face').height() * 0.6 + 'px', width: $('#face').width() * 0.6 + 'px' }, 1000);
						$('li').animate({ "font-size": "-=10px", "line-height": "-=26px" }, 1000);
						/*$('#table1').animate({ "cellspacing": "-=20px" }, 1000);*/
						$('#nameform' + rnCorrect).submit();
					}
					else
					{
						//happens 3. 5. 7... time
						$('#output2').fadeOut('fast');
						$('#output').animate({ opacity: 0.4, marginRight: '700px' }, 1000);
						$(this).attr("checked", "checked");
						$('#face').animate({ height: $('#face').height() * 0.6 + 'px', width: $('#face').width() * 0.6 + 'px' }, 1000);
						$('li').animate({ "font-size": "-=10px", "line-height": "-=26px" }, 1000);
						/*$('#table1').animate({ "cellspacing": "-=20px" }, 1000);*/
						$('#nameform' + rnCorrect).submit();
					}
				}
			}
			else
			{
			$(this).parent().fadeTo("slow", 0.35);
			}
		}); 

		/*var options = {target: '#output', beforeSubmit: showRequest, success: showResponse};*/
		var options = {success: showResponse};

		$('#nameform').ajaxForm(options);
	}

	$(function(){		
		initialize();
	});

	/*function showRequest(formData, jqForm, options) {
		var queryString = $.param(formData); 	 
		alert('About to submit: \n\n' + queryString);
		return true;
	} */

	function showResponse(responseText, time, xhr, $form) {
		/*alert('status: ' + statusText + '\n\nresponseText: \n' + responseText);*/
		if (time%2)
		{
			//happens 2. 4. 6... time
			$('#output').html(responseText);
		}
		else
		{
			//happens 1. 3. 5... time
			$('#output2').html(responseText);
		}
		$('#output2').html(responseText);
		/*document.getElementById('#nameform' + rnCorrect).setAttribute("id", '#nameform' + prevrnCorrect);
		document.getElementById('#face' + rnCorrect).setAttribute("id", '#face' + prevrnCorrect);*/
		rnCheck();
		/*alert(rnCorrect);*/
		initialize();
	} 

	</script>
	
	<style type="text/css">
		ul {
		list-style: none;
		}
		
		input[type="radio"] {
		display: none;
		}
		
		.names {
		font-family: arial;
		font-size: 30px;
		line-height: 75px;
		}

		.logotxt {
		font-family: arial;
		font-size: 35px;
		color: #7F7B67;
		}

		/*#output, #output2 {
		display: none;
		}*/
	</style>
	
	<title>Futufaces</title>
</head>
<body>
<center>
<p class="logotxt"><img alt="futurice logo" src="/static/futurice_logo_basic_smaller.png">Futurice Facegame</p>

<p>
<div id="output">
<table border="1" cellspacing="50px" id="table1">
	<tr id="tr">
		<td>
			<form id="nameform{{ rncorrect }}" method="post">{% csrf_token %}
			<font class="names">
			{{ form.name }}
			</font>
			</form>
		</td>
		<td>
			<img id="face{{ rncorrect }}" class="face" src="{% url fumapi:user_photo rncorrect %}">
		</td>
	</tr>
</table>
</div>
<div id="output2">
</div>
</p>
<p>
rncorrect = {{ rncorrect }}
prevrncorrect = {{ prevrncorrect }}
time = {{ time }}
</p>

</center>
</body>
</html>
