<html>
<head>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/jquery.form.js"></script>
	
	<script type="text/javascript">
	var rnCorrect = "{{ rncorrect }}";
	var correctAnswers = 0;
	var wrongAnswers = 0;
	var currentStreak = 0;
	var highestStreak = 0;

	jQuery.preloadImages = function() {   
		for(var i = 0; i<arguments.length; i++) {
			jQuery("<img>").attr("src", arguments[i]);   
		} 
	}

	$(document).ready(function() {
		$.preloadImages("/static/images/loader.gif");
		$("#soundHandle1").attr('preload', 'auto');
		$("#soundHandle2").attr('preload', 'auto');
		initialize();
	});

	function response(responseText)	{
		$('#face').fadeOut(400, function()
		{
			$('#output').css("display", "none");
			$('#output').html(responseText);
			rnCheck();
			initialize();
		});
	}

	function initialize() {
		$('#face').load(function()
		{
			$('#output').fadeIn(700);
			$('#nameform').attr("disabled", false);
		}).each(function() {
    			if(this.complete) $(this).trigger("load");
		});

		$('li').mouseenter(function(event)
		{
			$(this).css("background-color", "#BFBAA4");
		}).mouseleave(function(event)
		{
			$(this).css("background-color", "#FFFFFF");
		});

		$('li').click(function(event)
		{
			if ($(this).find("input[type=radio]").val() == rnCorrect)
			{
				soundHandle1 = document.getElementById('soundHandle1');
				soundHandle1.src = '/static/sounds/correct.ogg';
				$(soundHandle1).bind("ended", function() {
					$('#nameform').submit();
				});
				soundHandle1.play();
				$("li").unbind('click');
				correctAnswers += 1;
				currentStreak += 1;
				if (currentStreak > highestStreak)
				{
					highestStreak = currentStreak;
				}
				$('#scoretxt').html("<img alt='correct' src='/static/images/correct.gif' class='correctimg'> " + correctAnswers + " <img alt='wrong' src='/static/images/wrong.gif' class='wrongimg'> " + wrongAnswers);
				$(this).find("input[type=radio]").attr("checked", "checked");
				$('#nameform').fadeOut(700);
				$('#face').fadeOut(700, function()
				{
					$(this).attr('src', '/static/images/loader.gif');
					$(this).fadeIn(400);
				});
				$(".correctimg").animate({"width": "+=6px", "height": "+=6px"}, 300, function() {
					$(".correctimg").animate({"width": "-=5px", "height": "-=5px"}, 350);
				});
				return false;
			}
			else
			{
				soundHandle2 = document.getElementById('soundHandle2');
				soundHandle2.src = '/static/sounds/wrong.ogg';
				soundHandle2.play();
				$(this).unbind('click');
				wrongAnswers += 1;
				$('#scoretxt').html("<img alt='correct' src='/static/images/correct.gif' class='correctimg'> " + correctAnswers + " <img alt='wrong' src='/static/images/wrong.gif' class='wrongimg'> " + wrongAnswers);
				currentStreak = 0;
				$(this).fadeTo(700, 0.35);
				$(".wrongimg").animate({"width": "+=5px", "height": "+=5px"}, 300, function() {
					$(".wrongimg").animate({"width": "-=5px", "height": "-=5px"}, 350);
				});
				return false;
			}
		});

		var options = {target: '#output', success: response};
		$('#nameform').ajaxForm(options);
	}
	</script>
	
	<style type="text/css">
		ul {
		list-style: none;
		}
		
		input[type="radio"] {
		display: none;
		}
		
		.names {
		font-family: arial;
		font-size: 30px;
		line-height: 75px;
		}

		.logotxt {
		font-family: arial;
		font-size: 31px;
		color: #7F7B67;
		}

		.scoretxt {
		font-family: arial;
		font-size: 19px;
		color: #7F7B67;
		}

		.correctimg, .wrongimg, .rowimg {
		vertical-align: middle;
		}

		#output {
 		display: none;
		}

		.skip {
		font-family: arial;
		font-size: 11px;
		color: #7F7B67;
		}
	</style>
	
	<title>Futufaces</title>
</head>
<body>
<audio id="soundHandle1" style="display: none;"></audio>
<audio id="soundHandle2" style="display: none;"></audio>
<table cellspacing="8px" align="center">
	<tr>
		<td rowspan="2">
			<img alt="futurice logo" src="/static/images/futurice_logo_basic_smallersmaller.png">
		</td>
	</tr>
	<tr>
		<td>
			<p class="logotxt">
				Futurice Facegame
			</p>
		</td>
	</tr>
	<tr>
		<td></td>
		<td valign="bottom">
			<div id="scoretxt" class="scoretxt">
				<img alt="correct" src="/static/images/correct.gif" class="correctimg"> 0 <img alt="wrong" src="/static/images/wrong.gif" class="wrongimg"> 0
			</div>
		</td>
		<td valign="bottom">
			<img alt="skip" src="/static/images/skip.png">
		</td>
	</tr>
</table>
<div id="output">
<table cellspacing="35px" align="center" id="gametable">
	<tr>
		<td align="right">
			<form id="nameform" method="post">{% csrf_token %}
			<font class="names">
			{{ form.name }}
			</font>
			</form>
			</td>
		<td align="left">
			<img id="face" src="{% url fumapi:user_photo rncorrect %}">
		</td>
	</tr>
</table>
</div>
</body>
</html>
