<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="https://github.com/malsup/form/raw/master/jquery.form.js"></script>
	
	<script type="text/javascript">
	var rnCorrect = "{{ rncorrect }}";
	var correctAnswers = 0;
	var wrongAnswers = 0;
	var currentStreak = 0;
	var highestStreak = 0;

	jQuery.preloadImages = function() {   
		for(var i = 0; i<arguments.length; i++) {
			jQuery("<img>").attr("src", arguments[i]);   
		} 
	}

	$(document).ready(function()
	{
		$.preloadImages("/static/loader.gif");
		initialize();
	});

	function response(responseText)
	{
		$('#face').fadeOut(400, function()
		{
			$('#output').css("display", "none");
			$('#output').html(responseText);
			rnCheck();
			initialize();
		});
	}

	function initialize()
	{
		$('#face').load(function()
		{
			$('#output').fadeIn(700);
			$('#nameform').attr("disabled", false);
		}).each(function() {
    			if(this.complete) $(this).trigger("load");
		});

		$('li').mouseenter(function(event)
		{
			$(this).css("background-color", "#BFBAA4");
		}).mouseleave(function(event)
		{
			$(this).css("background-color", "#FFFFFF");
		});

		$('li').click(function(event)
		{
			if ($(this).find("input[type=radio]").val() == rnCorrect)
			{
				$("li").unbind('click');
				correctAnswers += 1;
				$('#scoretxt').html("Overall: Correct " + correctAnswers + ", Wrong " + wrongAnswers);
				currentStreak += 1;
				if (currentStreak > highestStreak)
				{
					highestStreak = currentStreak;
				}
				$('#streaktxt').html("In a row: Current " + currentStreak + ", Highest " + highestStreak);
				$(this).find("input[type=radio]").attr("checked", "checked");
				$('#nameform').fadeOut(700);
				$('#face').fadeOut(700, function()
				{
					$(this).attr('src', '/static/loader.gif');
					$(this).fadeIn(400);
				});
				$('#nameform').submit();
				return false;
			}
			else
			{
				$(this).unbind('click');
				wrongAnswers += 1;
				$('#scoretxt').html("Overall: Correct " + correctAnswers + ", Wrong " + wrongAnswers);
				currentStreak = 0;
				$('#streaktxt').html("In a row: Current " + currentStreak + ", Highest " + highestStreak);
				$(this).fadeTo(700, 0.35);
				return false;
			}
		});

		var options = {target: '#output', success: response};
		$('#nameform').ajaxForm(options);
	}
	</script>
	
	<style type="text/css">
		ul {
		list-style: none;
		}
		
		input[type="radio"] {
		display: none;
		}
		
		.names {
		font-family: arial;
		font-size: 30px;
		line-height: 75px;
		}

		.logotxt {
		font-family: arial;
		font-size: 35px;
		color: #7F7B67;
		}

		.scoretxt {
		font-family: arial;
		font-size: 16px;
		color: #7F7B67;
		}

		.streaktxt {
		font-family: arial;
		font-size: 16px;
		color: #7F7B67;
		}

		#output {
 		display: none;
		}
	</style>
	
	<title>Futufaces</title>
</head>
<body>
<table cellspacing="20px" align="center">
	<tr>
		<td align="right">
			<img alt="futurice logo" src="/static/futurice_logo_basic_smaller.png">
		</td>
		<td align="left" valign="bottom">
			<p class="logotxt">Futurice Facegame</p>
		</td>
	</tr>

	<tr>
		<td>
		</td>
		<td align="left" valign="bottom">
			</br>
			<div id="scoretxt" class="scoretxt">
			Overall: Correct 0, Wrong 0
			</div>
			<div id="streaktxt" class="streaktxt">
			In a row: Current 0, Highest 0
			</div>
		</td>
	</tr>
</table>
<div id="output">
<table cellspacing="40px" align="center">
	<tr>
		<td align="right">
			<form id="nameform" method="post">{% csrf_token %}
			<font class="names">
			{{ form.name }}
			</font>
			</form>
			</td>
		<td align="left">
			<img id="face" src="{% url fumapi:user_photo rncorrect %}">
		</td>
	</tr>
</table>
</div>
</body>
</html>
