<html>
<head>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/jquery.form.js"></script>

	<script type='text/javascript' src='/static/jquery.tipsy.js'></script>
	<link rel="stylesheet" href="/static/tipsy.css" type="text/css" />

	<script type="text/javascript">
		var rnCorrect = "{{ rncorrect }}";
	</script>
	
	<script src="/static/fgscript.js"></script>
	<link rel="stylesheet" href="/static/fgstyle.css" type="text/css" />
	
	<title>Futufaces</title>
</head>
<body>
<audio id="soundHandle1" style="display: none;"></audio>
<audio id="soundHandle2" style="display: none;"></audio>
<table cellspacing="8px" align="center">
	<tr>
		<td>
			<img alt="futurice logo" title="Futurice Facegame, mainly designed for new employees to get familiar with the names and faces around Futurice. Don't worry about guessing wrong, there's no losing in this game.<br>See how many you can recognize!" src="/static/images/logo.png" class="logoimg">
		</td>
		<td valign="bottom">
			<p class="logotxt">
				Futurice Facegame
			</p>
			<div id="scoretxt" class="scoretxt">
				<img alt="correct" title="correct answers" src="/static/images/correct.gif" class="correctimg">
					<span id="correctnum">0</span>
				<img alt="wrong" title="wrong answers" src="/static/images/wrong.gif" class="wrongimg">
					<span id="wrongnum">0</span>
				<img alt="row" title="number of correct answers<br>in a row (and highest streak)" src="/static/images/row.png" class="rowimg">
					<span id="rownum">0, 0</span>
				<img alt="skip" title="skip and number of skips done<br>(use if no photo)" src="/static/images/skip.png" class="skipimg">
					<span id="skipnum">0</span>
				<img alt="mute" title="mute/unmute" src="/static/images/muteon.png" class="muteimg">
				<img alt="help" title="toggle help" src="/static/images/help.png" class="helpimg">
			</div>
		</td>
	</tr>
</table>
<div id="output">
<table cellspacing="35px" align="center" id="gametable">
	<tr>
		<td align="right">
			<form id="nameform" method="post">{% csrf_token %}
			<font class="names">
			{{ form.name }}
			</font>
			</form>
			</td>
		<td align="left">
			<img id="face" src="{% url fumapi:user_photo rncorrect %}">
		</td>
	</tr>
</table>
</div>
</body>
</html>
