{% load assets %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">

    {% autoescape off %}
    {% assets 'css/base.css' %}
    {% endautoescape %}
    {% block header %}
    {% endblock %}

	<title>Facegame</title>
</head>
<body>
{% block body %}
{% endblock %}

{% block sitechoice %}

<div class="site-choice-toggle">
  <button class="btn btn-default btn-link" id="siteToggle"><i class="glyphicon glyphicon-globe"></i> Choose Sites</button>
</div>
<div id="siteChoices" class="well">
  <div>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="berlin" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Berlin
    </label>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="helsinki" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Helsinki
    </label>
  </div>
  <div>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="munich" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Munich
    </label>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="london" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>London
    </label>
  </div>
  <div>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="tampere" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Tampere
    </label>
  </div>
  <div>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="stockholm" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Stockholm
    </label>
  </div>
  <button class="btn btn-primary" id="updatebutton" onclick="updatesites()">Update</button>
</div>
{% endblock %}

<script type="text/javascript">
try { console.assert(1); } catch(e) { console = { log: function() {}, assert: function() {} } }
var URLS_BASE='{{settings.URLS_BASE}}';
var STATIC_URL='{{STATIC_URL}}';
</script>

{% autoescape off %}
{% assets 'js/base.js' %}
{% endautoescape %}
{% block footer %}

<!--
<div class="footer navbar-fixed-bottom" id="footer">
	<h6>Facegame is made by <a href="http://www.futurice.com/">Futurice</a>, a lean service creation company.</h6>
</div>-->

{% endblock %}

</body>
</html>
