{% load assets %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    {% assets 'css/base.css' %}

    {% block header %}
    {% endblock %}

	<title>Facegame</title>
</head>
<body>
{% block body %}
{% endblock %}

{% block sitechoice %}
<div id="siteChoices" class="well">
  <div>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="berlin" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Berlin
    </label>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="helsinki" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Helsinki
    </label>
  </div>
  <div>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="lausanne" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Lausanne
    </label>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="london" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>London
    </label>
  </div>
  <div>
    <label class="checkbox-inline">
      <input class="siteChoice" type="checkbox" name="tampere" checked><span class="btn btn-default"><span class="glyphicon glyphicon-ok active"></span></span>Tampere
    </label>
  </div>
  <button class="btn btn-primary" id="updatebutton" onclick="updatesites()">Päivitä</button>
</div>
{% endblock %}

<script type="text/javascript">
try { console.assert(1); } catch(e) { console = { log: function() {}, assert: function() {} } }
var URLS_BASE='{{settings.URLS_BASE}}';
var STATIC_URL='{{STATIC_URL}}';
</script>

{% assets 'js/base.js' %}

{% block footer %}

<div class="footer navbar-fixed-bottom" id="footer">
	<h6>Facegame is made by <a href="http://www.futurice.com/">Futurice</a>, a lean service creation company.</h6>
</div>

{% endblock %}

</body>
</html>
