{% extends "base.html" %}

{% block header %}
	<script type="text/javascript">
		var rnCorrect = "{{ player.currentCorrectUser }}";
		var correctAnswers = {{ player.stats.correctAnswers }};
		var wrongAnswers = {{ player.stats.wrongAnswers }};
		var currentStreak = {{ player.stats.currentStreak }};
		var highestStreak = {{ player.stats.highestStreak }};
		var skips = {{ player.stats.skips }};
	</script>
{% endblock %}

{% block body %}

{% load staticfiles %}
<audio id="soundHandle1" style="display: none;"></audio>
<audio id="soundHandle2" style="display: none;"></audio>
<table cellspacing="8px" align="center">
	<tr>
		<td valign="bottom">
			<p class="logotxt">
				Facegame
			</p>
			<div id="scoretxt" class="scoretxt">
                <img alt="correct" title="sum of correct answers" src="{% static "img/correct.gif" %}" class="correctimg">
					<span id="correctnum">{{ player.stats.correctAnswers }}</span>
                <img alt="wrong" title="sum of wrong answers" src="{% static "img/wrong.gif" %}" class="wrongimg">
					<span id="wrongnum">{{ player.stats.wrongAnswers }}</span>
                <img alt="row" title="number of correct answers in a row (and highest record)" src="{% static "img/row.png" %}" class="rowimg">
					<span id="rownum">{{ player.stats.currentStreak }}, {{ player.stats.highestStreak }}</span>
                <img alt="mute" title="mute/unmute sound effects" src="{% static "img/muteon.png" %}" class="muteimg">
                <img alt="reset" title="this will reset your stats" src="{% static "img/reset.png" %}" class="resetimg" onClick="return deteleconfirm();">
                <a href="name/"><img alt="switch" title="switch the gamemode" src="{% static "img/switch.png" %}" class="switchimg"></a>
			</div>
		</td>
	</tr>
</table>
<div id="output">
<table cellspacing="35px" align="center" id="gametable">
	<tr>
		<td align="right">
			<form id="nameform" method="post">{% csrf_token %}
			<font class="names">
			{{ form.name }}
			</font>
			</form>
			</td>
		<td align="left">
            <img id="face" src="{{choice}}" class="thumb_size">
		</td>
	</tr>
</table>
</div>
{% endblock %}
